:root {
  --font-roboto: "Roboto", sans-serif;

  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 40px;

  --width-container: 1200px;
  --width-logo: 50px;
  --height-logo: 50px;
  --width-btn-action: 38px;

  --z-index-logo: 1;
}
